#dash__background {
position: fixed;
z-index: -1;

height: 100vh;
width: 100vw;

background:-webkit-radial-gradient(ellipse farthest-corner at bottom left, rgb(122, 72, 159) 10%, rgb(217, 149, 108) 85%);
background:-o-radial-gradient(ellipse farthest-corner at bottom left, rgb(122, 72, 159) 10%, rgb(217, 149, 108) 85%);
background:-moz-radial-gradient(ellipse farthest-corner at bottom left, rgb(122, 72, 159) 10%, rgb(217, 149, 108) 85%);
background:radial-gradient(ellipse farthest-corner at bottom left, rgb(122, 72, 159) 10%, rgb(217, 149, 108) 85%);
}
#dash__password {
  width: 50vw;
  height: 25vh;
  min-height: 14rem;
}
#dash__post__form {
  position: absolute;
  left: 0; right: 0;
  margin: auto;
  padding: 10vmin 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
  min-width: 28rem;

  height: 60vmin;
  min-height: 30rem;
}
.dash__frame__positioning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  margin: auto;
}
.dash__frame__style {
  text-align: center;

  background: white;
  color: $dark;

  border-radius: $l-size;
  box-shadow: 0 2px 4px grey;
}
#dash__post__message {
  position: relative;

  left: 0; right: 0;
  margin: 0 auto;
  z-index: 1;

  text-align: center;
  width: 50%;
}
.dash__input {
  border-radius: $xxs-size;
  margin: $xxs-size;
  background: $cream;
  outline: none;
}
.dash__button {
  border-radius: $xxs-size;
  margin: $xxs-size;
  background: $dark;
  color: white;
  outline: none;
}
.dash__form__width {
  width: 100%;
}

#dash__posts {
  display: none;
  z-index: 2;

  background: white;

  position: absolute;
  left: 0; right: 0;
  margin: 0 auto;
  top: 120vh;

  display: flex;
  flex-direction: column-reverse;
}
.dash__post {
  margin: $m-size $xl-size;
  padding: $m-size;
  box-shadow: 0 2px 4px grey;
  border-radius: $s-size;
}
.dash__post__header {
  font-weight: 700;
}
