.footer {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  display: flex;
  justify-content: center;

  opacity: 0.7;
  height: 2.4rem;
  line-height: 2.4rem;
  width: 100%;
  font-size: 2rem;
  text-shadow: 0 0 2px white;
}
