.App__Description {
  box-sizing: border-box;

  max-width: 90%;
  z-index: 1;
  padding: 5%;

  background-color: lighten($cream, 5%);
  font-size: 2rem;

  box-shadow: 0 2px 4px grey;
  border-radius: 2rem;

  height: 90%;
  margin: 1rem;
  overflow: auto;
}
.App__Description__Title {
  padding-bottom: .2rem;
  margin-bottom: .2rem;

  text-align: center;
  color: $dark;
  font-weight: 700;
  font-size: 2.5rem;

  border-bottom: solid 2px grey;
}

@media (min-width: $desktop-breakpoint) {
  //mobile landscape
  .App__Description {
    margin: .5rem;
  }

  @media (min-height: 400px){
    //desktop
    .App__Description {
      margin: 3rem;
      height: auto;
    }

    .App__Description__Title {
      padding-bottom: .6rem;
      margin-bottom: .6rem;
      font-size: 4rem;
    }
  }
}
