#App__Dash__Title {
  position: absolute;
  display: none;
  top: 0;
  margin: 1rem auto;
  font-size: 3rem;
  font-weight: 700;
}
@media (min-width: $desktop-breakpoint) {
  #App__Dash__Title {
    display: block;
  }
}
