.app__gallery {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.5rem;
  padding-bottom: 42.5vh;

  z-index: -1;

  background: lighten($cream, 5%);
}
@media (min-width: $desktop-breakpoint) {
  //mobile landscape
  .app__gallery {
    padding-top: 12.5vh;
    padding-bottom: 25vh;

    box-shadow: 0 0 4px grey;

    z-index: 1;
    right: 0;
    width: 60%;
  }

  @media (min-height: 400px) {
    //desktop
    .app__gallery {
      width: 67%;
    }
  }
}
