#apps__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}
#apps__header__background {
  background:-webkit-linear-gradient(180deg, rgba(191,143,196,1) 0%, rgba(250,247,250,1) 100%);
  background:-o-linear-gradient(180deg, rgba(191,143,196,1) 0%, rgba(250,247,250,1) 100%);
  background:-moz-linear-gradient(180deg, rgba(191,143,196,1) 0%, rgba(250,247,250,1) 100%);
  background:linear-gradient(180deg, rgba(191,143,196,1) 0%, rgba(250,247,250,1) 100%);

  height: 35rem;
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#apps__header__title {
  color: $dark;
  font-size: 5rem;
}
