

.apps__entry {
  position: relative;
  height: 75vh;
  width: 95%;
  display: flex;
  justify-content: center;
  margin-top: 25vh;
}
.apps__entry__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 4px 4px black;
  border: 1px black solid;
}
.apps__entry__image:hover {
  cursor: pointer;
  box-shadow: 0 4px 4px lighten(black, 5%);
  opacity: .95;
}
