#dash__background {
  position: fixed;
  z-index: -1;

  height: 100vh;
  width: 100vw;

  background:-webkit-radial-gradient(ellipse farthest-corner at bottom left, rgb(122, 72, 159) 10%, rgb(217, 149, 108) 85%);
  background:-o-radial-gradient(ellipse farthest-corner at bottom left, rgb(122, 72, 159) 10%, rgb(217, 149, 108) 85%);
  background:-moz-radial-gradient(ellipse farthest-corner at bottom left, rgb(122, 72, 159) 10%, rgb(217, 149, 108) 85%);
  background:radial-gradient(ellipse farthest-corner at bottom left, rgb(122, 72, 159) 10%, rgb(217, 149, 108) 85%);
}
#dash__posts {
  display: none;
  z-index: 2;

  background: white;

  position: absolute;
  left: 0; right: 0;
  margin: 0 auto;
  top: 120vh;

  display: flex;
  flex-direction: column-reverse;
}
.dash__post {
  margin: $m-size $xl-size;
  padding: $m-size;
  box-shadow: 0 2px 4px grey;
  border-radius: $s-size;
}
.dash__post__header {
  font-weight: 700;
}
