#BlogList__Stripe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2.5vw;
  border-left: solid white 1px;
  border-right: solid darken($cream, 50%) 5px;
  box-shadow: -1px 0 2px darken($cream, 50%), 1px 0 2px white;
}
#BlogList {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  margin-bottom: 6rem;

  color: $dark;
}
@media (min-width: $desktop-breakpoint) {
  #BlogList__Stripe {
    left: 7vw;
  }
}
