//Top, darker bar
#Blog__Header__Title {
  position: relative;
  color: $cream;
  font-size: 3rem;
  font-weight: 700;
  background: darken($cream, 75%);
  text-align: center;
  padding: 1rem 0;
  z-index: 2;
  box-shadow: 0 2px 4px black;
  margin-top: 3.4rem;
}
//lower, lighter bar containing picture
#Blog__Header {
  position: relative;
  color: white;
  background: darken($cream, 65%);
  box-shadow: 0 2px 4px grey;

  margin-bottom: $m-size;
  padding: 1rem;

  font-size: 1.6rem;
  font-weight: 700;

  z-index: 1;
}
#Blog__Header__Contents {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  padding: 0 $m-size;
  width: 75vw;

  b {
    color: darken($cream, 15%);
  }
}
#Blog__Header__Introduction {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 110%;
}
#Blog__Header__Picture {
  flex: 1 0 auto;
  height: 8rem;
  width: 8rem;
  border: $cream solid 1px;
  margin-right: $xs-size;
}
#Blog__Header__Introduction-text {
  flex: 1 1 auto;
  text-wrap: wrap;
}
#Blog__Header__Description {
  flex: 0 1 auto;
  align-self: center;

  width: 110%;

  border-top: $cream solid 1px;
  padding-top: $xs-size;
  margin-top: $xs-size;
  text-wrap: wrap;
}

@media (min-width: $desktop-breakpoint) {
  #Blog__Header__Title {
    margin-top: 9rem;
    padding: 4rem 0;
    font-size: 7rem;
  }
  #Blog__Header {
    margin-bottom: $xl-size;
    padding:$m-size;

    font-size: 2.3rem;
  }
  #Blog__Header__Contents {
    flex-direction: row;
  }
  #Blog__Header__Introduction {
    width: 50%;
  }
  #Blog__Header__Picture {
    margin-right: $m-size;
    height: 10rem;
    width: 10rem;
  }
  #Blog__Header__Description {
    width: 50%;
    border-top: none;
    padding-top: 0;
    margin-top: 0;
    border-left: $cream solid 1px;
    padding-left: $m-size;
  }
}
