// for mobile
.index__header {
  position: absolute;
  margin: $xl-size 0 0 10%;
  color: purple;
  font-size: 3.4rem;
  font-style: italic;
  font-weight: 700;
  padding-left: $s-size;
  text-shadow: 0 0 3px $cream;
  flex-grow: 1;
}
// for desktop
@media (min-width: $desktop-breakpoint) {
  .index__header {
    margin: $xl-size 0 0 20%;
  }
}
