// for mobile
.index__header {
  position: absolute;
  margin: $l-size 0 0 5%;
  z-index: 2;

  flex-grow: 1;
  padding-left: $s-size;

  color: purple;
  font-size: 2.4rem;
  font-style: italic;
  font-weight: 700;

  text-shadow: 0 0 3px $cream;
}
@media (min-width: $desktop-breakpoint) {
  // for mobile landscape

  @media (min-height: 400px) {
    // for desktop
    .index__header {
      margin: $xl-size 0 0 20%;

      font-size: 3.4rem;
    }
  }
}
