.slide {
  position: absolute;
  background: white;
  height: 100vh;
  width: 100vw;
  z-index: 3;
}

.slide__image {
  opacity: 0.5;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  z-index: 4;
}
// mobile
.slide__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  z-index: 5;

  width: 80%;
  height: 15rem;
}
.slide__box__caption {
  text-align: center;
  color: #112233;
  text-shadow: -2px 2px 2px $cream, 2px -2px 2px $cream, -2px -2px 2px $cream, 2px 2px 2px $cream;
  font-weight: 600;
  margin: 0;
}

.slide__box__button {
  position: relative;
  z-index: 6;
  margin: auto;

  background: purple;
  border: 1px solid #112233;
  border-radius: 3rem;
  padding: 1rem;

  color: white;
  text-shadow: none;
  font-weight: 500;
  box-shadow: 0 2px 2px grey;
}
.slide__box__button:hover {
  cursor: pointer;
  box-shadow: none;
  background: lighten(purple, 10%);
}
.chooser {
  display: flex;
  justify-content: center;
  z-index: 6;
}
.chooser__button {
  color: transparent;
  width: .8rem;
  height: .8rem;
  border: solid 1px $dark;
  border-radius: 1rem;
  background: lighten($dark, 10%);
  text-shadow: none;
  opacity: .4;
  margin: 2rem .6rem;
  z-index: 7;
}
.chooser__button:hover {
  cursor: pointer;
  background: lighten($dark, 40%);
}

// desktop
@media (min-width: $desktop-breakpoint) {
  .slide__box {
    bottom: 20%;
    width: 40%;
    height: 20%;
  }
  .slide__box__caption {
    margin: auto;
  }
}
