//colors
$cream: #faf7fa;
$dark: #112233;
$aboutHeader: #CC5511;
//sizes
$xxs-size: .8rem;
$xs-size: 1.2rem;
$s-size: 1.6rem;
$m-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4rem;
$desktop-breakpoint: 45rem;
